.background {
  background-color: rgb(0, 0, 0);
}

.table {
  background-color: rgb(87, 143, 31);
}

.resize {
  width: 100%;
  height: auto;
}

.maintxt {
  position: relative;
}

.maintxt > img,
.overlay-text {
  position: absolute;
}

/* Centered text */
.centered {
  position: absolute;
  top: 10%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Centered Lower text */
.centeredLower {
  position: absolute;
  top: 13%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* Goofy text */
.centeredGoofy {
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: rgb(185, 185, 185);
}

.container {
  position: relative;
}

/* Player Text Box */
.text-block-player {
  position: absolute;
  bottom: 15rem;
  right: 55rem;
  transform: translate(-50%, -50%);
  background-color: rgb(163, 56, 56);
  color: white;
  padding: 1% 2% 2%;
  border: rgb(244, 255, 179) solid 2px;
  border-radius: 10px;
}
/*
  position: absolute;
  bottom: 25rem;
  right: 53rem;
*/

/* Computer Text Box */
.text-block-computer {
  position: absolute;
  bottom: 15rem;
  right: -2rem;
  transform: translate(-50%, -50%);
  background-color: rgb(163, 56, 56);
  color: white;
  padding: 1% 2% 2%;
  border: rgb(244, 255, 179) solid 2px;
  border-radius: 10px;
}
/* Warzone Text Box */
.text-block-warzone {
  position: absolute;
  bottom: 16.7rem;
  right: 14rem;
  transform: translate(-50%, -50%);
  background-color: rgb(163, 56, 56);
  color: white;
  padding: 1% 2% 2%;
  border: rgb(244, 255, 179) solid 2px;
  border-radius: 10px;
}

.drawButton {
  position: absolute;
  bottom: 23rem;
  right: 64.8rem;
  transform: translate(-50%, -50%);
  background-color: rgb(163, 56, 56);
  color: white;
  border: rgb(244, 255, 179) solid 1px;
  padding: 0.5% 2%;
  border-radius: 5px;
}

/* Attempt to use some animations */

#animation1 {
  position: relative;
  animation-name: shiftRight;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes shiftRight {
  0% {
    left: 0px;
    top: 0px;
  }
  10% {
    left: 2.5rem;
    top: 4rem;
  }
  20% {
    left: 5rem;
    top: 7rem;
  }
  30% {
    left: 7.5rem;
    top: 9rem;
  }
  40% {
    left: 10rem;
    top: 10rem;
  }
  50% {
    left: 12.5rem;
    top: 10.5rem;
  }
  60% {
    left: 15rem;
    top: 10rem;
  }
  70% {
    left: 17.5rem;
    top: 9rem;
  }
  80% {
    left: 20rem;
    top: 7rem;
  }
  90% {
    left: 22.5rem;
    top: 4rem;
  }
  100% {
    left: 25rem;
    top: 0rem;
  }
}

/* Attempt to use some animations */